    <h2 class="text-center text-danger">Flat ({{page}}) Search Options</h2>
    <h2 class="text-center text-success">Search Option:</h2>

<div class="edit-search-options">
    <ul>
        <a href="{{page}}/all"><li>All</li></a>
        <a href="{{page}}/country"><li>Country</li></a>
        <a href="{{page}}/company"><li>Company</li></a>
        <a href="{{page}}/city"><li>City</li></a>
        <a href="{{page}}/flatrefnumber"><li>flat Refrence Number</li></a>
    </ul>
</div>
