<div class="container">
        <h3 class="text-danger">View Single Flat</h3>
        <div class="container">
                <h4 class="text-info">City:</h4>
                <h5>{{flat.description.address.city}}</h5>
                <h4 class="text-info">Street</h4>
                <h5>{{flat.description.address.postCode}}</h5>
                <h4 class="text-info">Post Code</h4>
                <h5>{{flat.description.address.street}}</h5>
                <h4 class="text-info">Flat Number:</h4>
                <h5>{{flat.description.address.flatNumber}}</h5>
                <h4 class="text-info">Price</h4>
                <h5>{{flat.description.lettingInformation.price}}</h5>
                <h4 class="text-info">Date Available</h4>
                <h5>{{flat.description.lettingInformation.dataAvailable}}</h5>

                <h4 class="text-info">Furnishing:</h4>
                <h5>{{flat.description.lettingInformation.furnishing}}</h5>
                <h4 class="text-info">ReducedOnWebsite</h4>
                <h5>{{flat.description.lettingInformation.reducedOnWebsite}}</h5>
                <h4 class="text-info">Deposit</h4>
                <h5>{{flat.description.lettingInformation.deposit}}</h5>
                <h4 class="text-info">Title:</h4>
                <h5>{{flat.description.title}}</h5>
                <h4 class="text-info">Full Description</h4>
                <h5>{{flat.description.fullDescription}}</h5>
                <h4 class="text-info">Brief Description</h4>
                <h5>{{flat.briefDescription}}</h5>
                <h4 class="text-info">Rent/Sale</h4>
                <h5>{{flat.rentOrSale}}</h5>
                <h4 class="text-info">ID</h4>
                <h5>{{flat._id}}</h5>
                <h4 class="text-info">Country ID</h4>
                <h5>{{flat.country}}</h5>
        </div>
       
</div>

          <div class="container mt-4">
                <a href="/flat/edit/all/{{flat._id}}/update">
                        <button class="btn btn-danger">Update</button>
                </a>
                <a href="/flat/edit/all/{{flat._id}}/delete">
                        <button class="btn btn-danger">Delete</button>
                </a>
        </div>


        